  <!--scripts-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <!-- <script src="/jquery/dist/jquery.min.js"></script>-->
  <script src="/Scripts/app.js"></script>
</body>
</html>