/*-custom css--*/
p{
    font-family: sans-serif; font-size: larger; font-weight: 700;
}
ul{
    font-family: sans-serif; font-size: large; color: rgb(11, 11, 66);
}
.contactUs{
    width: 10%; height: 10%; float: right; padding: 2%;
}