/*-custom css--*/
p{
    font-family: sans-serif; font-size: larger; font-weight: 700;
}
ul{
    font-family: sans-serif; font-size: large; color: rgb(11, 11, 66);
}
.contactUsEmail{
    width: 5%; height: 5%; float: right; padding-right: 3%;
}
.contactUsPhone{
    width: 5%; height: 5%; float: right; padding-top: 3%; margin-right: 7%;
}
