/*-custom css--*/
p{
    font-family: sans-serif; font-size: larger; font-weight: 700;
}
ul{
    font-family: sans-serif; font-size: large; color: rgb(11, 11, 66);
}

/*designing of email and calling sysmbols*/
.contactUsEmail{
    width: 7%; height: 7%; float: right; padding-right: 3%; padding-top: 2%;
}
.contactUsPhone{
    width: 4.2%; height: 4.2%; float: right; margin-right: 7%;  padding-top: 2%;
}
.descriptionOfProjects{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: medium; color: rgb(145, 73, 73);
}
