/*-custom css--*/
p{
    font-family: sans-serif; font-size: larger; font-weight: 700;
}
ul{
    font-family: sans-serif; font-size: large; color: rgb(11, 11, 66);
}
.contactUsEmail{
    width: 7%; height: 7%; float: right; padding-right: 3%; padding-top: 2%;
}
.contactUsPhone{
    width: 5%; height: 5%; float: right; margin-right: 7%;  padding-top: 2%;
}
