<h1>Welcome to the <strong>About</strong> section of my personal portfolio</h1>
<table>
    <th>
        <td style="width: 35%">
            <img src="\Assets\images\arsh.jpg" class="rounded float-left" alt="Arsh" width="70%">
            <img src="" width="70%" >
        </td>
        <td>
            <p>I am Arshpreet Singh, the creater of this website. I am Arshpreet Singh. I am currently in third semester of Software Engineering Technician.
                <ul>
                     <li> I am originally from India and moved to Canada in April 2021. I live in Etobicoke.</li>
                     <li>I am 18 and My birthday is on 16th October.</li>
                     <li>I completed High School last year and studied Physics, Chemistry and Mathematics.</li>
                </ul>
             </p>
        </td>
    </th>
</table>

<table>
    <th>
        <td>
            <p>
                <ul>
                     <li>I am new to Software Engineering. I learnt basic C#, SQL, JavaScript and python in first two semesters.</li>
                     <li>My aim is to start my own IT company by gaining some experience first.</li>
                     <li>I like gardening, adventurous sports, climbing, golf, hiking and much more.</li>
                </ul>
             </p>
        </td>
        <td style="width: 30%">
            <img src="\Assets\images\golf.jpg" width="100%" >          
        </td>
    </th>
</table>

