<a href="https://www.facebook.com/centennialcollege"><img alt="facebook logo" class="auto-style1" height="50" src="/Assets/images/facebook.png" style="width: 45px; height: 45px;" width="123"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/_arshthind_/"><img alt="instagram" height="50" src="/Assets/images/instagram.png" style="width: 50px"></a>
            <a href="https://twitter.com/CentennialEDU"><img alt="twitter" height="50" src="/Assets/images/twitter.png" style="width: 50px"></a>
            <a href="mailto:international@centennialcollege.ca"><img alt="email" height="50" src="/Assets/images/email.png" style="width: 45px; height: 45px;" width="123"></a><br><br>
                <p class="contact">
                    Contact Us
                </p>

