<a href="https://www.facebook.com/arshpreet.singh.18659041"><img alt="facebook logo" class="auto-style1" height="50" src="/Assets/images/facebook.png" style="width: 45px; height: 45px;" width="123"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/_arshthind_/"><img alt="instagram" height="50" src="/Assets/images/instagram.png" style="width: 50px"></a>
            <a href="https://twitter.com/"><img alt="twitter" height="50" src="/Assets/images/twitter.png" style="width: 50px"></a>
            <a href="mailto:xyz@gmail.com"><img alt="email" height="50" src="/Assets/images/email.png" style="width: 45px; height: 45px;" width="123"></a><br><br>
                <p class="contact">
                    Contact Us
                </p>
                
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                   
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Full name">
                      </div>
                  
                    
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Queries</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>

