<table>
    <th>
        <td style="width: 30%">
            <img src="\Assets\images\arsh.jpg" width="100%" >
        </td>
        <td>
            <p style="text-align: start;">I am Arshpreet Singh, the creater of this website. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi corporis eum voluptates et quaerat perspiciatis totam vero asperiores quae! Ipsam nam nulla ad vero fugit iure placeat, iste libero harum. </p>
        </td>
    </th>
</table>

