<br><h2>Mission statement</h2>

<p>
    <div class="container">
        <ul>
            <li>
                I am an engineering student. I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.<br><br>
            </li>
            <li>                        
                I am part of a team. In my software development team, I communicate clearly and proactively. I thrive for consistency and integrity of the creations of my team.<br><br>
            </li>
            <li>                
                I am a software craftsman. I am proud of my work and understand it as part of the creation of the community of software craftmanship, which I support.<br><br>
            </li>
            <li>                        
                I am and always will be a student. I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me.<br><br>            
            </li>
            <li>
                I am an optimist and a realist. I always apply this mission statement in good faith and to achieve great results together with my team. In doing so, I am willing to learn and to teach. However, I acknowledge reality and respect mission statements of other people. Because I will not violate my mission statement, I will leave every situation where my core values are not shared.<br><br>
            </li>
        </ul>
        
    </div>
</p>

<center>
    <div class="container">
        <a href="/projects"><button type="button" class="btn btn-secondary">Projects</button></a>
        <a href="/services"><button type="button" class="btn btn-secondary">Services</button></a>
        <a href="/contact"><button type="button" class="btn btn-secondary">Contact Us</button></a>
        <a href="/about"><button type="button" class="btn btn-secondary">About</button></a>
    </div>
</center>

