<ul>
    <li><h2><strong>Project 1</strong> : My first web design project to create a website using HTML and CSS only</h2></li><br>

    <h3>
        Description
    </h3>
    <p class="descriptionOfProjects">
        The website was built by me in my first semester of Software Engineering when I was studing basic Web Interface Design Course for begineers. I used just HTML and CSS to built this page. It is a business website of a real estate agent. There are four pages: Home, Active listing, Site Map, and Contact us page. The home page contains mission statement, areas served and clients' reviews. The active listing page contains list of all the houses that are for sale. The contact page allows user to send their queries.
    </p>
    
    <h4>Link to the website: <a href="http://studentweb.cencol.ca/asin1711/project/home.html">http://studentweb.cencol.ca/asin1711/project/home.html</a></h4><br>

    <h4>Screenshot of the Home page of the project</h4>

    <img src="/Assets/images/realestate.jpg" width="100%"><br><br><br>

    <h4>Screenshot of the Active Listings page of the project</h4>

    <img src="/Assets/images/listings.jpg" width="100%"><br><br><br>

    <img src="/Assets/images/housedetails.jpg" width="100%"><br><br><br>

    <h4>Screenshot of the Contact page of the project</h4>

    <img src="/Assets/images/contact.jpg" width="100%"><br><br><br>

    <li><h2><strong>Project 2</strong> : Building a form for a website</h2></li><br>

    <h3>
        Description
    </h3>
    <p class="descriptionOfProjects">
        It was my first time Building a form. This is a course feedback form for a college. I used different input types, dropbox, radio buttons, text area etc. I understood how submit and reset buttons work. The action of the form is set to mailto type. All the credentials entered are emailed at the entered email-address. 
    </p>

    <h4>Link to the website: <a href="http://studentweb.cencol.ca/asin1711/assignment4.html">http://studentweb.cencol.ca/asin1711/assignment4.html</a></h4><br>

    <h4>Screenshot of the Home page of the project</h4>

    <img src="/Assets/images/form.jpg" width="80%"><br><br><br>

    <li><h2><strong>Project 3</strong> :Working with GUI in C#</h2></li><br>

    <h3>
        Description
    </h3>
    <p class="descriptionOfProjects">
       This application was built in my second semester when I was studying GUI in C#. It is an application then allows users to apply for auto or home loan. It takes various inputs and let the user know about the interest rate based on certain factors. It was my first hands-on experience with GUI in C#.
    </p>

    <h4>Screenshot of the application</h4>

    <img src="/Assets/images/project3.jpg" width="80%"><br><br><br>
    <img src="/Assets/images/project3b.jpg" width="80%"><br><br><br>

   
</ul>
