<ul>
    <li><h2>Project 1: First project to create website using HTML and CSS only</h2></li><br>

    <h3>
        Description
    </h3>
    <p class="descriptionOfProjects">
        The website was built by me in my first semester of Software Engineering when I was studing basic Web Interface Course for begineers. I used just HTML and CSS to built this page. It is a business website of a real estate agent. There are four pages: Home, Active listing, Site Map, and Contact us page.
    </p>
    
    <h4>Link to the website: <a href="http://studentweb.cencol.ca/asin1711/project/home.html">http://studentweb.cencol.ca/asin1711/project/home.html</a></h4><br>

    <h4>Screenshot of the Home page of the project</h4>

    <img src="/Assets/images/realestate.jpg" width="100%">

    <h4>Screenshot of the Active Listings page of the project</h4>

    <img src="/Assets/images/listings.jpg" width="100%">

    <h4>Screenshot of the Home page of the project</h4>

    <img src="/Assets/images/realestate.jpg" width="100%">

   
</ul>
